.kylie-1 {
    background-size:cover;
    background-repeat: no-repeat;
    figure {
        .kylie-hover {
            position:absolute;
            top:44%;
            left:47%;
            display:none;

        }
        &:hover .kylie-hover{
            display:block;
            cursor:pointer;

        }
    }
    .kylie-text {
        max-width:992px;
        text-align:left;
    }
    .kylie-heading {
        font-size:48px;
        text-align:center;
        font-family:$font-playfair-display;
        font-weight:bolder;
    }
    .kylie-category {
        text-decoration:underline;

    }
    .kylie-date {
        font-size:16px;
        letter-spacing:1px;
    }
    p {
        .bolder {

            font-family:$font-avenirnext-bold !important;

        }
    }
    .socials {
        font-size:23px;
        position:absolute;
        bottom:26%;
        right:9%;
        .fa {
            &:hover {
                color: #99caff;
                transition: 0.3s linear;
                cursor: pointer;
            }

        }
    }




}
@media(min-width:576px) {

}
@media(min-width:768px) {
    .kylie-1 {
        .socials {
            font-size:23px;
            position:absolute;
            bottom:0%;
            right:9%;
            .fa {
                &:hover {
                    color:$hover-blue;
                    cursor:pointer;
                }

            }
        }
    }
}
@media(min-width:992px) {
    .kylie-1 {
        .socials {
            font-size:23px;
            position:absolute;
            bottom:26%;
            left:9%;
            .fa {
                &:hover {
                    color:$hover-blue;
                    cursor:pointer;
                }

            }
        }
    }
}

